/* modal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

body {
  &:has(.overlay) {
    overflow: hidden;
  }
}

.mobile-nav,
.cart,
.wishlist {
  &-sidebar {
    &-enter {
      opacity: 0;
      transform: translateX(100%);
  
      &-active {
        opacity: 1;
        transform: translateX(0);
        transition: 300ms;
      }
    }
  
    &-exit {
      opacity: 1;
      transform: translateX(0);
  
      &-active {
        opacity: 0;
        transform: translateX(100%);
        transition: 300ms;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #fff;
    z-index: 101;
    width: 80vw;

    &::-webkit-scrollbar {
      width: 8px;
      background-color: #d6d6d6;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #a1a1a1;
      border-radius: 4px;
    }

    @include respond-above($screen-md) {
      width: 500px;
    }

    .empty-noti {
      padding: 50px 0;
    }
  }
}

.mobile-nav {
  &__wrapper {
    width: 100vw;
  }
}